/* style.css */
* {
    -fx-primary-color: #5c8984;
    -fx-secondary-color: #507e89;
    -fx-light-grey-color: #d1d1d1;
    /*Set focus color*/
    -fx-focus-color: -fx-secondary-color;
    /*Increase font size*/
}

/* Phần style chung */
.text-field:focused {
    -fx-text-fill: #016A70;
    -fx-background-color: #F8E8EE;
    -fx-border-color: #016A70;
    /*   -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
}

.roboto-font {
    -fx-font-family: "Roboto Light"; /* Tên của font */
}

.linear-gradient {
    -fx-background-color: linear-gradient(to bottom, #5c8984, #507e89, #507889, #537188);
}

.linear-gradient-splash {
    -fx-background-color: linear-gradient(to right, #5670a6, #7f8eba, #a5aece, #cbd0e2, #f1f2f7);
}

.transparent-button, .transparent-button:hover, .transparent-button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.transparent-button:hover {
    -fx-background-color: #94A684;
}

.transparent-button:pressed {
    -fx-background-color: #486E66;
}

.menu-button, .menu-button:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 5px;
}

.menu-button:hover {
    -fx-background-color: #94A684;
    -fx-border-radius: 50px;
}

.menu-item, .menu-item:hover {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 5px;
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
}

.menu-item:hover {
    -fx-background-color: #94A684;
}

.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 5px;
    -fx-text-fill: white;
}

.choice-box:hover {
    -fx-background-color: #94A684;
    -fx-border-radius: 50px;
}

.choice-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.choice-box .list-cell:hover {
    -fx-background-color: #94A684;
}


.small {
    -fx-font-size: 10px;
}

.background-orange {
    -fx-background-color: orange;
}

.border10px {
    -fx-background-radius: 10px;
}

/* Phần liên quan đến TableView */
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler,
.table-view .corner,
.table-view .column-header,
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background,
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

/* scroll-style.css */
.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
    -fx-background-color: #e0e0e0; /* Màu nền của thanh cuộn */
}


.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #bfccb5, #b3c5b1, #a8bfad, #9db8a9, #93b1a6);
    -fx-text-fill: white;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
}

.table-row-cell:odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-cell {
    -fx-alignment: CENTER;
}

.scroll-pane:horizontal, .scroll-pane:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
}


/* Phần liên quan đến hiệu ứng nút */
.button-green {
    -fx-background-color: #93B1A6;
    -fx-background-radius: 7px; /* Đảm bảo bo tròn góc */
}

.button-green:hover {
    /* Đặt màu nền khác khi hover */
    -fx-background-color: #5C8374;
    /* Các thuộc tính khác cho hiệu ứng hover */
}

/* Trong tệp CSS hoặc phần mở rộng .css của tệp FXML */
.notification-label {
    /* Định nghĩa các thuộc tính kiểu mà bạn muốn áp dụng cho các Label trong class "notification-label" */
    -fx-font-size: 18px; /* Kích thước font chữ */
    -fx-text-fill: #ff0000; /* Màu chữ (ví dụ: đỏ) */
    /* Thêm các thuộc tính khác tùy chỉnh của bạn */
}

/*-----------------------------------------
Customize the right button background color
-------------------------------------------*/

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}

.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

/*-----------------------------------------
Customize popup content
-------------------------------------------*/
.date-picker .cell {
    -fx-background-color: white;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-primary-color;
}

.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}

/*-----------------------------------------
Customize the selected cell
-------------------------------------------*/
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker-popup {
    -fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}

/*-----------------------------------------
Customize left and right arrow
-------------------------------------------*/
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #c2d70e;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #5C8374;
    -fx-background-radius: 5em;
}

